<div fxLayout="row wrap" style="height:100%;" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <form #weatherForm="ngForm" style="margin-bottom:0 !important;">
      <div fxLayout="row wrap" style="width:500px;" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
        <mat-form-field style="flex-basis:75%;" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="searchString" name="searchIp" placeholder="Enter city name" [required]="false" autocomplete="off" #searchlp="ngModel">

        </mat-form-field><button mat-button class="get-weather-button" (click)="weatherView.getWeatherModelr(searchString)" [disabled]="searchlp?.invalid" type="submit">Get weather</button>
      </div>
    </form>
    <bh-weathercard (log)="updateLog($event)" #weatherView></bh-weathercard>
    <bh-log [logArray]="logArray"></bh-log>
  </div>
</div>